.navContainer {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 60% 20% 20%;
	height: 5rem;
	grid-template-areas: "header . account" "images . ." "images . .";
	justify-items: stretch;
}

.header {
	grid-area: "header";
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	padding-right: 20px;
}

.iconsFlex {
	grid-area: "images";
	grid-column: 1 / span 1;
	grid-row: 1 / span 3;
	display: flex;
	justify-content: space-around;
	padding-top: 40px;
}
